<div class="header-wrapper fixed-top">

    <!-- TOPBAR -->
    <div class="topbar">
        <div class="container topbar-wrapper">
            <div class="top-left">
                <span><i class="fa-solid fa-envelope"></i> hello@afrazalam.com</span>
                <span><i class="fa-solid fa-location-dot"></i> Kolkata, India</span>
            </div>
            <div class="top-right">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>

    <!-- NAVBAR -->
    <header class="main-navbar">
        <div class="container nav-wrapper">

            <!-- LOGO -->
            <div class="logo">
                <a href="/index.html">
                    <img src="/images/main-logo.png" alt="TechFee Logo">
                </a>
            </div>
            <div class="nav-right">
                <!-- MENU -->
                <nav class="nav-menu">
                    <a href="/index.html">Home</a>
                    <a href="/about/index.html">About</a>
                    
                    <!-- DROPDOWN -->
                    <div class="nav-item dropdown">
                        <a href="/services/index.html" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/services/paid-ads/index.html">Paid Ads</a></li>
                            <li><a class="dropdown-item" href="/services/seo/index.html">SEO</a></li>
                            <li><a class="dropdown-item" href="/services/ai-marketing/index.html">AI Marketing</a></li>
                        </ul>
                    </div>

                    <a href="/case-studies/index.html">Case Studies</a>
                    <a href="/contact/index.html">Contact</a>
                </nav>

                <!-- BUTTON -->
                <a href="#" class="nav-btn open-modal">Get Quote</a>
            </div>

            <!-- MOBILE -->
            <div class="menu-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>
    </header>

</div>